/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

&mt { hold-trigger-on-release; };

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <3 3>;
            then-layer = <5>;
        };
    };

    behaviors {
        paste: paste {
            compatible = "zmk,behavior-tap-dance";
            label = "PASTE";
            #binding-cells = <0>;
            bindings = <&mt LC(V) V>, <&kp LC(LA(LS(V)))>;
        };

        lyr1or2: lyr1or2 {
            compatible = "zmk,behavior-hold-tap";
            label = "LYR1OR2";
            bindings = <&tog>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
        };

        shft_cap: shft_cap {
            compatible = "zmk,behavior-tap-dance";
            label = "SHFT_CAP";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        tognotap: tognotap {
            compatible = "zmk,behavior-hold-tap";
            label = "TOGNOTAP";
            bindings = <&tog>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        lyr_pk: lyr_pk {
            compatible = "zmk,behavior-tap-dance";
            label = "LYR_PK";
            #binding-cells = <0>;
            bindings = <&tognotap 1 0>, <&tognotap 2 0>;
        };

        lyr_pk2: lyr_pk2 {
            compatible = "zmk,behavior-mod-morph";
            label = "LYR_PK2";
            bindings = <&tog 1>, <&tog 2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE  &mt F1 NUMBER_1  &mt F2 NUMBER_2  &mt F3 NUMBER_3  &mt F4 NUMBER_4  &mt F5 N5                        &mt F6 NUMBER_6  &mt F7 N7  &mt F8 N8  &mt F9 N9  &mt F10 N0     &kp DELETE
&kp ESC    &kp Q            &kp W            &kp F            &kp P            &kp G                            &kp J            &kp L      &kp U      &kp Y      &kp SEMICOLON  &kp BSPC
&kp TAB    &kp A            &kp R            &kp S            &kp T            &kp D                            &kp H            &kp N      &kp E      &kp I      &kp O          &kp SQT
&shft_cap  &kp Z            &kp X            &kp C            &kp V            &kp B      &none      &none      &kp K            &kp M      &kp COMMA  &kp DOT    &kp FSLH       &kp RSHFT
                            &kp LGUI         &kp LALT         &kp LCTRL        &lyr_pk2   &kp RET    &kp SPACE  &tog 2           &kp RCTRL  &kp RALT   &kp RGUI
            >;

            sensor-bindings =
                <&inc_dec_kp LC(Z) LC(LS(Z))>,
                <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        design {
            bindings = <
&trans                                       &trans               &trans            &trans        &trans     &trans                              &trans  &trans  &trans  &trans  &trans  &trans
&kp ESCAPE                                   &mt LS(LC(G)) LC(G)  &kp I             &mt LC(S) W   &mt P T    &kp BACKSPACE                       &trans  &trans  &trans  &trans  &trans  &trans
&mt LC(LS(RIGHT_BRACKET)) LC(RIGHT_BRACKET)  &kp LEFT_SHIFT       &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE  &mt LC(A) A                         &trans  &trans  &trans  &trans  &trans  &trans
&mt LS(LC(LEFT_BRACKET)) LC(LEFT_BRACKET)    &kp Z                &mt LC(X) X       &mt LC(C) C   &paste     &trans         &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                                  &trans            &tog 4        &tog 3     &to 0          &kp ENTER    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(Z) LC(LS(Z))>;
            label = "design";
        };

        gaming {
            bindings = <
&kp ESCAPE  &kp NUMBER_1  &kp NUMBER_2        &kp NUMBER_3  &kp NUMBER_4  &kp N5                          &kp NUMBER_6  &kp N7  &kp N8     &kp N9   &kp N0    &trans
&kp TAB     &kp Q         &kp W               &kp E         &kp R         &kp T                           &kp Y         &kp U   &kp I      &kp O    &kp P     &trans
&kp CAPS    &kp A         &kp S               &kp D         &kp F         &kp G                           &kp H         &kp J   &kp K      &kp L    &kp SEMI  &trans
&kp LSHFT   &kp Z         &kp X               &kp C         &kp V         &kp B         &trans    &trans  &kp N         &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                          &mt TILDE LEFT_WIN  &kp LCTRL     &kp SPACE     &kp LEFT_ALT  &to 0     &trans  &none         &trans  &trans     &trans
            >;

            label = "gaming";
        };

        numpad {
            display-name = "num";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans  &trans          &trans           &kp SLASH        &kp ASTRK        &trans                        &trans            &trans         &trans    &trans          &trans           &trans
&trans  &trans          &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp DELETE                    &kp GREATER_THAN  &kp LESS_THAN  &trans    &trans          &trans           &trans
&trans  &kp LEFT_SHIFT  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS                     &kp EQUAL         &kp MINUS      &kp PLUS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PIPE
&trans  &trans          &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PLUS    &trans    &trans  &kp LBKT          &kp RBKT       &kp SEMI  &kp COLON       &kp BSLH         &trans
                        &kp KP_NUMBER_0  &kp DOT          &kp LCTRL        &tog 3      &trans    &trans  &trans            &trans         &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp LS(RIGHT_ARROW) LS(LEFT_ARROW)>;
        };

        navigation {
            bindings = <
&trans  &trans          &trans       &trans          &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans       &kp UP_ARROW    &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT_SHIFT  &kp LEFT     &kp DOWN_ARROW  &kp RIGHT  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &mt LC(X) X  &mt LC(C) C     &paste     &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans       &trans          &kp LCTRL  &tog 4  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "nav";
        };
    };
};
